* {
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  min-width: 1200px;
}
.banner {
  width: 1440px;
  height: 813px;
  background: url("./image/section1-bg.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden; /* 去除外边距重叠 */
}
.title {
  width: 708px;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  margin-top: 220px;
}
.video {
  text-align: center;
  margin-top: 40px;
}
.play {
  text-align: center;
}
.play button {
  width: 190px;
  height: 50px;
  background-color: #ff6d6d;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin-top: 40px;
}
.desc {
  margin-top: 18px;
}
.desc p {
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1900px) {
  .banner {
    width: 100%;
  }
}
