* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#toast {
  display: none;
}
.movie {
  width: 100%;
}
.movie-head {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #1e2025;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
}
.movie-head .iconfont {
  width: 16px;
}
.movie-head .title {
  flex: 1;
  text-align: center;
}
.movie-info {
  padding: 15px;
  background-color: #1e2025;
}
.movie-info__desc {
  width: 100%;
  display: flex;
}
.movie-info__desc .info-pic {
  width: 122px;
  height: 165px;
  overflow: hidden;
}
.movie-info__desc .info-pic img {
  width: 100%;
}
.movie-info__desc .info-container {
  flex: 1;
  color: #9b9da2;
  font-size: 12px;
  margin-left: 10px;
}
.movie-info__desc .info-container .name {
  color: #fff;
  font-size: 24px;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.movie-info__desc .info-container .type span {
  width: 40px;
  height: 14px;
  display: inline-block;
  background: url("https://s0.meituan.net/bs/myfe/canary/file/asgard/images/movie/movie-tag-2DIMAX.png");
  background-size: cover;
  vertical-align: middle;
}
.movie-info__desc .info-container .btn-wrap {
  display: flex;
}
.movie-info__desc .info-container .btn-wrap .flex {
  flex: 1;
  background-color: #58585b;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
.movie-info__desc .info-container .btn-wrap .flex:first-child {
  margin-right: 10px;
}
.movie-info__desc .info-container .btn-wrap .flex .iconfont {
  font-size: 14px;
}
.movie-info__rate {
  background-color: #000;
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
}
.movie-info__rate .rate-title {
  display: flex;
  justify-content: space-between;
}
.movie-info__rate .rate-title__left {
  color: #fff;
}
.movie-info__rate .rate-title__left .icon-maoyandianying {
  color: #f00;
}
.movie-info__rate .rate-title__right {
  color: #68686b;
}
.movie-info__rate .rate-detail {
  display: flex;
}
.movie-info__rate .rate-detail__left {
  flex: 454;
  display: flex;
}
.movie-info__rate .rate-detail__left .grade {
  text-align: center;
}
.movie-info__rate .rate-detail__left .grade h2 {
  color: #fcc300;
}
.movie-info__rate .rate-detail__left .grade p {
  color: #68686b;
}
.movie-info__rate .rate-detail__left .star {
  display: flex;
  align-items: center;
  text-align: right;
}
.movie-info__rate .rate-detail__left .star .list {
  margin: 2px 0;
  display: flex;
  align-items: center;
}
.movie-info__rate .rate-detail__left .star .list .star-num {
  width: 40px;
  font-size: 0;
}
.movie-info__rate .rate-detail__left .star .list .star-num img {
  width: 8px;
  height: 8px;
}
.movie-info__rate .rate-detail__left .star .list .persent {
  width: 78px;
  height: 4px;
  background-color: #252528;
  position: relative;
}
.movie-info__rate .rate-detail__left .star .list .persent .persent-val {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #fcc300;
  width: 80%;
}
.movie-info__rate .rate-detail__right {
  flex: 266;
  display: flex;
  align-items: center;
}
.movie-info__rate .rate-detail__right img {
  height: 46px;
}
.movie-desc {
  padding: 15px;
}
.movie-desc .content {
  overflow: auto;
  transition: all 1s ease;
}
.movie-desc .line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  word-wrap: break-all;
  overflow: hidden;
}
.movie-desc .arrow {
  text-align: center;
  font-size: 16px;
}
.movie-desc .arrow .iconfont {
  display: block;
  transform: rotateZ(0deg);
  transition: all 0.5s ease;
}
.movie-desc .arrow .up {
  display: block;
  transform: rotateZ(180deg);
}
.movie-img {
  border-top: 1px solid #d9d9d9;
}
.movie-img img {
  width: 100%;
}
.movie-actors {
  padding: 5px 15px 15px 15px;
}
.movie-actors ul {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.movie-actors ul .left-margin {
  margin-right: 6px;
}
.movie-actors ul .left-margin .name {
  display: block;
  text-align: center;
  font-size: 16px;
}
.movie-actors ul .left-margin .role {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #979797;
}
